In [2]:
import wrangle_data as wd

df = wd.run()
print(df.head(5))

            DATE_TIME   C/A  UNIT       SCP STATION LINENAME DIVISION  \
0 2020-06-20 00:00:00  A002  R051  02-00-00   59 ST  NQR456W      BMT
1 2020-06-20 04:00:00  A002  R051  02-00-00   59 ST  NQR456W      BMT
2 2020-06-20 08:00:00  A002  R051  02-00-00   59 ST  NQR456W      BMT
3 2020-06-20 12:00:00  A002  R051  02-00-00   59 ST  NQR456W      BMT
4 2020-06-20 16:00:00  A002  R051  02-00-00   59 ST  NQR456W      BMT

      DESC  ENTRIES    EXITS        DATE  TUID  BUID  SUID  NET_ENTRIES  \
0  REGULAR  7424218  2522558  2020-06-20     0     0     0          2.0
1  REGULAR  7424220  2522559  2020-06-20     0     0     0         11.0
2  REGULAR  7424231  2522572  2020-06-20     0     0     0         34.0
3  REGULAR  7424265  2522590  2020-06-20     0     0     0         75.0
4  REGULAR  7424340  2522604  2020-06-20     0     0     0         75.0

   NET_EXITS
0        1.0
1       13.0
2       18.0
3       14.0
4        8.0

In [3]:
df.dtypes

DATE_TIME      datetime64[ns]
C/A                    object
UNIT                   object
SCP                    object
STATION                object
LINENAME               object
DIVISION               object
DESC                   object
ENTRIES                 int64
EXITS                   int64
DATE                   object
TUID                    int64
BUID                    int64
SUID                    int64
NET_ENTRIES           float64
NET_EXITS             float64
dtype: object

In [48]:
df_ss = df.groupby('SUID')['TUID'].nunique().reset_index().rename(columns={'TUID':'TS_COUNT'})
df_ss.head()
# df_ss.reindex(labels=df_ss['SUID'])
# df_ss.head()

   SUID  TS_COUNT
0     0        11
1     1        14
2     2        20
3     3        25
4     4         8

In [42]:
mults = df.groupby('SUID')['TUID'].count()

In [22]:
import pandas as pd
import numpy as np

In [62]:
df_ss.loc(df['SUID'].to_numpy(),'TUID')
# df.head()

TypeError: 'numpy.ndarray' object is not callable